<div class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden">
  <mat-drawer-container class="bg-card h-full flex-auto dark:bg-transparent" (backdropClick)="onBackdropClicked()">
    <!-- Drawer -->
    <mat-drawer class="w-full dark:bg-gray-900 sm:w-128" [mode]="drawerMode" [opened]="false" [position]="'end'"
      [disableClose]="false" #matDrawer>
      <router-outlet></router-outlet>
    </mat-drawer>
    <!-- Drawer Content -->
    <mat-drawer-content>
      <!-- Header -->
      <div class="relative flex flex-col px-6 py-2 md:px-8">
        <div class="text-3xl font-extrabold tracking-tight">
          List of Inspection Characteristics
        </div>
      </div>
      <!-- Search & Add Button -->
      <div class="mt-4 flex flex-col sm:flex-row sm:items-center sm:justify-between w-full px-4">
        <!-- Search Input -->
        <mat-form-field class="icon-border-color qbs-mat-dense qbs-mat-rounded w-full sm:w-2/3 md:w-1/2">
          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
          <input matInput [autocomplete]="'off'" placeholder="Search..." [formControl]="searchInputControl" />
        </mat-form-field>
        <!-- Add Inspection Characteristic Button -->
        <button class="mb-3 sm:mt-0 sm:ml-auto" mat-flat-button [color]="'primary'" (click)="openStepperToAddICH()">
          <span class="flex items-center">
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="ml-1">{{ addUserBtn }}</span>
          </span>
        </button>
      </div>
      <!-- Main Content STARTS -->
      <div class="-mt-px flex flex-auto border-t pt-4 sm:pt-2 overflow-hidden" style="padding-top: 0px !important;">
        <div class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto">
          <div class="mat-elevation-z8">
            <!-- Table STARTS -->
            <table class="table-border-color" mat-table [dataSource]="dataSource">
              <!-- S.No -->
              <ng-container matColumnDef="serialId">
                <th mat-header-cell *matHeaderCellDef style="background-color: #e2e8f0 !important; text-align: center;">
                  S.No
                </th>
                <td mat-cell *matCellDef="let index = index" style="text-align: center;">
                  {{ index + 1 }}
                </td>
                <!-- <td mat-cell *matCellDef="let element" style="text-align: center;">
                  {{ element.intCode }}
                </td> -->
              </ng-container>
              <!-- Inspection Code Column -->
              <ng-container matColumnDef="intCode">
                <th mat-header-cell *matHeaderCellDef style="background-color: #e2e8f0 !important;">
                  Inspection&nbsp;Code
                </th>
                <td mat-cell *matCellDef="let element" >
                  <!-- ICH-000{{ element.intCode ? element.intCode : '-' }} -->
                  ICH-{{ element.intCode ? (element.intCode.toString().padStart(5, '0')) : '-' }}
                </td>
              </ng-container>
              <!-- Description Column -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef style="background-color: #e2e8f0 !important;">
                  Parameter
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.description ? element.description : '-' }}
                </td>
              </ng-container>
              <!-- Inspection Type Column -->
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef style="background-color: #e2e8f0 !important;">
                  Inspection&nbsp;Type
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.type ? element.type : '-' }}
                </td>
              </ng-container>
              <!-- Attribute Column -->
              <ng-container matColumnDef="attribute">
                <th mat-header-cell *matHeaderCellDef style="background-color: #e2e8f0 !important;">Attribute
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.attributeDescription ? element.attributeDescription : '-' }}
                  <!-- {{ element.attribute['description'] ? element.attribute['description'] : '-' }} -->
                </td>
              </ng-container>
              <!-- Inspection Type Column -->
              <ng-container matColumnDef="isActive">
                <th mat-header-cell *matHeaderCellDef style="background-color: #e2e8f0 !important;">
                  Status
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="{
                                  'text-green-500': element.isActive,
                                  'text-amber-500': !element.isActive
                                }">
                  {{ element.isActive ? 'Active' : 'Inactive' }}
                </td>
              </ng-container>
              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef style="background-color: #e2e8f0 !important;">
                  Action
                </th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon svgIcon="heroicons_outline:pencil" class="mat-icon-primary cursor-pointer"
                    (click)="openStepperToUpdateICH(element)"></mat-icon>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator class="border-pagination" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
              aria-label="Select page of periodic elements" style="background-color: #e2e8f0 !important;"></mat-paginator>
            <!-- @IAK -->
            <div *ngIf="dataSource.data.length === 0"
              class="border-t p-8 text-center text-4xl font-semibold tracking-tight sm:p-16">
              No records to show!
            </div>
          </div>
        </div>
      </div>
      <!-- Main Content ENDS -->
    </mat-drawer-content>
  </mat-drawer-container>
</div>