<!-- <p>items-inspection-cards works!</p> -->
<div class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden">
    <mat-drawer-container class="bg-card h-full flex-auto dark:bg-transparent">
        <mat-drawer class="w-full dark:bg-gray-900 sm:w-128" [mode]="drawerMode" [opened]="false" [position]="'end'"
            [disableClose]="false" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>
        <mat-drawer-content>
            <!-- Header Starts -->
            <div class="relative flex-0 flex-col px-6 py-2 md:px-8">
                <!-- Title -->
                <div class="text-3xl font-extrabold tracking-tight">
                    List of Item Inspection Card 3.0
                </div>
            </div>
            <!-- Actions - Search & Add button -->
            <div class="mt-4 flex flex-col sm:flex-row sm:items-center sm:justify-between w-full px-4">
                <!-- Search Input Field -->
                <mat-form-field class="qbs-mat-dense qbs-mat-rounded w-full sm:w-2/3 md:w-1/2">
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                    <input matInput [autocomplete]="'off'" placeholder="Search..." [formControl]="searchInputControl" />
                </mat-form-field>
                <!-- Add Button -->
                <button class="mb-3 sm:mt-0 sm:ml-auto" mat-flat-button [color]="'primary'" (click)="addItemsInspectionCards()">
                    <span class="flex items-center">
                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        <span class="ml-1">{{ addBtnTitle }}</span>
                    </span>
                </button>
            </div>
            <!-- Main Content -->
            <div class="-mt-px flex flex-auto border-t pt-4 sm:pt-2 overflow-hidden"
                style="padding-top: 0px !important;">
                <div class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto">
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource_ItemsInspectionCards">
                            <!-- Serial Id COLUMN -->
                            <ng-container matColumnDef="serialId">
                                <th mat-header-cell *matHeaderCellDef style="background-color: #e2e8f0 !important;text-align: center;">
                                    S.No </th>
                                <td mat-cell *matCellDef="let index = index" style="text-align: center;"> {{index + 1}} </td>
                            </ng-container>
                            <!-- itemCode COLUMN -->
                            <ng-container matColumnDef="itemCode">
                                <th mat-header-cell *matHeaderCellDef style="background-color: #e2e8f0 !important;text-align: center;">
                                    Item Code </th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    {{element.itemCode ? element.itemCode : '-'}} </td>
                            </ng-container>
                            <!-- itemDescription COLUMN -->
                            <ng-container matColumnDef="itemDescription">
                                <th mat-header-cell *matHeaderCellDef style="background-color: #e2e8f0 !important;text-align: center;">
                                    Item Description </th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    {{element.itemDescription ? element.itemDescription : '-' }} </td>
                            </ng-container>
                            <!-- cardCode COLUMN -->
                            <ng-container matColumnDef="cardCode">
                                <th mat-header-cell *matHeaderCellDef style="background-color: #e2e8f0 !important;text-align: center;">
                                    Card Code	 </th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    {{element.cardCode ? element.cardCode : '-'}} </td>
                            </ng-container>
                            <!-- Action COLUMN -->
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef style="background-color: #e2e8f0 !important;text-align: center;">
                                    Action </th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <mat-icon class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:ellipsis-vertical'"></mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item class="text-blue-400"
                                            (click)="actionEdittemsInspectionCards(element)">
                                            Edit
                                            <mat-icon svgIcon="heroicons_outline:pencil"
                                                class="text-blue-400"></mat-icon>
                                        </button>
                                    </mat-menu>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                            aria-label="Select page of periodic elements" style="background-color: #e2e8f0 !important;">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>