.mr-1 {
    display: inline-flex;
    align-items: center; 
}

.mat-icon-primary {
    color: #4f46e5 !important;
}


.icon-border-color .mat-mdc-form-field-flex {
    border: 1px solid transparent !important;
}