<div class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden">
    <mat-drawer-container class="bg-card h-full flex-auto dark:bg-transparent" (backdropClick)="onBackdropClicked()">
        <!-- Drawer -->
        <mat-drawer class="w-full dark:bg-gray-900 sm:w-128" [mode]="drawerMode" [opened]="false" [position]="'end'"
            [disableClose]="false" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>
        <!-- Drawer Content -->
        <mat-drawer-content>
            <!-- Header -->
            <div class="relative flex-0 flex-col px-6 py-2 md:px-8">
                <div class="text-3xl font-extrabold tracking-tight">
                    Unit of Measure
                </div>
            </div>
            <!-- Search & Add Button -->
            <div class="mt-4 flex flex-col sm:flex-row sm:items-center sm:justify-between w-full px-4">
                <!-- Search Input -->
                <mat-form-field class="icon-border-color qbs-mat-dense qbs-mat-rounded w-full sm:w-2/3 md:w-1/2">
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                    <input matInput [autocomplete]="'off'" placeholder="Search..." [formControl]="searchInputControl" />
                </mat-form-field>
                <!-- Add User Button -->
                <button class="mb-3 sm:mt-0 sm:ml-auto" mat-flat-button [color]="'primary'"
                    (click)="openStepperToAddUOM()">
                    <span class="flex items-center">
                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        <span class="ml-1">{{ addUserBtn }}</span>
                    </span>
                </button>
            </div>
            <!-- Main Content -->
             <!-- @IAK -->
            <div *ngIf="dataSource.data.length === 0"
                class="border-t p-8 text-center text-4xl font-semibold tracking-tight sm:p-16">
                No records to show!
            </div>
            <!-- Table & Pagination -->
            <div class="-mt-px flex flex-auto border-t pt-4 sm:pt-2 overflow-hidden" style="padding-top: 0px !important;">
                <div class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto">
                    <div>
                        <table class="table-border-color" mat-table [dataSource]="dataSource">
                            
                            <!-- Serial No Column -->
                            <ng-container matColumnDef="serialId">
                                <th mat-header-cell *matHeaderCellDef style="background-color: #e2e8f0 !important; text-align: center;">
                                    S.No
                                </th>
                                <td mat-cell *matCellDef="let index = index" style="text-align: center;">
                                    {{index + 1}}
                                </td>
                            </ng-container>

                            <!-- UoM Code Column -->
                            <ng-container matColumnDef="uoMCode">
                                <th mat-header-cell *matHeaderCellDef style="background-color: #e2e8f0 !important;">
                                    UoM Code
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.uoMCode ? element.uoMCode : '-'}}
                                </td>
                            </ng-container>

                            <!-- UoM Name Column -->
                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef style="background-color: #e2e8f0 !important;">
                                    UoM Name
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.description ? element.description : '-'}}
                                </td>
                            </ng-container>

                            <!-- Status Column -->
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef style="background-color: #e2e8f0 !important;">
                                    Status
                                </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{
                                    'text-green-500': element.isActive,
                                    'text-amber-500': !element.isActive
                                }">
                                    {{ element.isActive ? 'Active' : 'Inactive' }}
                                </td>
                            </ng-container>

                            <!-- Action Column -->
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef style="background-color: #e2e8f0 !important;">
                                    Action
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-icon svgIcon="heroicons_outline:pencil" class="mat-icon-primary cursor-pointer"
                                        (click)="openStepperToUpdateUOM(element)">
                                    </mat-icon>
                                </td>
                            </ng-container>

                            <!-- Table Rows -->
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <!-- Pagination -->
                        <mat-paginator class="border-pagination" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                            aria-label="Select page of periodic elements" style="background-color: #e2e8f0 !important;">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
