<div class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden">
    <div class="relative flex-0 flex-col py-1 md:px-2">
        <div class="text-3xl font-extrabold tracking-tight px-4">
            <mat-icon svgIcon="heroicons_solid:arrow-left" class="text-primary-700 mr-2 cursor-pointer hidden"
                (click)="onBackArrowClick()"></mat-icon>
            {{title}}
        </div>
        <div class="py-0.5 flex flex-col sm:flex-row sm:justify-between">
            <mat-form-field class="icon-border-color qbs-mat-dense qbs-mat-rounded sm:w-2/3 md:w-1/4 px-2">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput autocomplete="off" placeholder="Search..." [formControl]="searchInputControl" />
            </mat-form-field>
            <button class="mb-3 sm:mt-0 sm:ml-auto icon-border-color" mat-flat-button color="primary"
                (click)="openStepperToAddIS()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-1">{{ addBtnTitle }}</span>
            </button>
        </div>
    </div>

    <div *ngIf="dataSource.data.length < 1 ; else showTable"
        class="border-t p-8 text-center text-4xl font-semibold tracking-tight sm:p-16">
        No records to show...
    </div>
    <ng-template #showTable>
        <div class="example-container shadow-xl shadow-gray-300">
            <table mat-table [dataSource]="dataSource" class="table-border-color py-0">
                <!-- Serial Id COLUMN -->
                <ng-container matColumnDef="serialId">
                    <th mat-header-cell *matHeaderCellDef class="bg-gray-100 hidden">
                        S.No </th>
                    <td mat-cell *matCellDef="let index = index" class="single-line font-medium hidden"> {{index + 1}}
                    </td>
                </ng-container>
                <!-- sampleCode COLUMN -->
                <ng-container matColumnDef="sampleCode">
                    <th mat-header-cell *matHeaderCellDef class="bg-gray-100">
                        Sample Code </th>
                    <td mat-cell *matCellDef="let element" class="single-line font-medium">
                        {{ element.intCode ? 'IS-000' + element.intCode : '-' }}
                    </td>

                </ng-container>
                <!-- itemCode COLUMN -->
                <ng-container matColumnDef="itemCode">
                    <th mat-header-cell *matHeaderCellDef class="bg-gray-100">
                        Item Code </th>
                    <td mat-cell *matCellDef="let element" class="single-line font-medium">
                        {{element.itemCode ? element.itemCode : '-'}} </td>
                </ng-container>
                <!-- itemDescription COLUMN -->
                <ng-container matColumnDef="itemDescription">
                    <th mat-header-cell *matHeaderCellDef class="bg-gray-100">
                        Item Description </th>
                    <td mat-cell *matCellDef="let element" class="single-line font-medium">
                        {{element.itemDescription ? element.itemDescription : '-' }} </td>
                </ng-container>
                <!-- isBatch - Batch Managed COLUMN -->
                <ng-container matColumnDef="isBatch">
                    <th mat-header-cell *matHeaderCellDef class="bg-gray-100">
                        Batch&nbsp;Managed
                    </th>
                    <td mat-cell *matCellDef="let element" class="single-line font-medium px-16">
                        {{ element.isBatch ? 'Yes' : 'No' }}
                    </td>
                </ng-container>
                <!-- flexibility COLUMN -->
                <ng-container matColumnDef="flexibility">
                    <th mat-header-cell *matHeaderCellDef class="bg-gray-100">
                        Flexibility
                    </th>
                    <td mat-cell *matCellDef="let element" class="single-line font-medium px-8">
                        {{ element.flexibility ? 'Yes' : 'No' }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="isActive">
                    <th mat-header-cell *matHeaderCellDef class="bg-gray-100">
                        Status </th>
                    <td mat-cell *matCellDef="let element" class="single-line font-medium" [ngClass]="{
                                      'text-green-500': element.isActive,
                                      'text-amber-500': !element.isActive 
                                      }" >
                        {{ element.isActive ? 'Active' : 'Inactive' }}
                    </td>
                </ng-container>
                <!-- Action COLUMN -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="bg-gray-100">
                        Action </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon svgIcon="heroicons_outline:pencil" class="mat-icon-primary cursor-pointer py-0.5"
                            (click)="openStepperToUpdateIS(element)"></mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsItemSamples"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsItemSamples;"></tr>
            </table>
        </div>
        <mat-paginator class="border-pagination bg-gray-100" [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons>
        </mat-paginator>
    </ng-template>
</div>