<!-- <p>add-items-inspection-cards works!</p> -->
<div class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden">
    <div class="flex min-w-0 flex-auto flex-col h-auto overflow-y-auto">
        <div class="-mt-px flex-auto border-language pt-4 pb-10 sm:pt-6">
            <div class="relative flex-0 flex-col px-6 py-0 md:px-8">
                <!-- Title -->
                <!-- Item Inspection Card -->
                <div class="text-3xl font-extrabold tracking-tight">
                    Item&nbsp;Inspection&nbsp;Card
                </div>
            </div>
            <form [formGroup]="itemsInspectionCardsForm" (ngSubmit)="submitItemsInspectionCardsForm()">
                <!-- UPPER FIELDS SECTION STARTS -->
                <div class="w-full mt-4">
                    <div class="px-6 flex space-x-10">
                        <!-- ITEM CODE -->
                        <div class="w-1/2">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'"
                                style="padding: 0.2rem !important;">
                                <mat-label>Item Code</mat-label>
                                <mat-icon matSuffix svgIcon="heroicons_outline:bars-3" class="mat-icon-primary"
                                    (click)="onItemCodeClickIIC()">
                                </mat-icon>
                                <input matInput type="text" class="text-sm" formControlName="itemCode" readonly
                                    [value]="selectedItemCodeIIC ? selectedItemCodeIIC : ''">
                            </mat-form-field>
                        </div>
                        <!-- ITEM DESCRIPTION -->
                        <div class="w-full">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'"
                                style="padding: 0.2rem !important;">
                                <mat-label>Item Description</mat-label>
                                <input matInput type="text" class="text-sm" formControlName="itemDescription" readonly
                                    [value]="selectedItemDescriptionICC ? selectedItemDescriptionICC : ''">
                            </mat-form-field>
                        </div>
                        <!-- CARD CODE -->
                        <div class="w-1/2">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'"
                                style="padding: 0.2rem !important;">
                                <mat-label>Card Code</mat-label>
                                <mat-icon matSuffix svgIcon="heroicons_outline:bars-3" class="mat-icon-primary"
                                    (click)="onCardCodeClickIIC()"></mat-icon>
                                <input matInput type="text" class="text-sm" formControlName="intCode" readonly
                                    [value]="selectedCardCode ? selectedCardCode : ''">
                            </mat-form-field>
                        </div>
                        <!-- CARD DESCRIPTION -->
                        <div class="w-full">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'"
                                style="padding: 0.2rem !important;">
                                <mat-label>Card Description</mat-label>
                                <input matInput type="text" class="text-sm" formControlName="cardDescription" readonly
                                    [value]="selectedCardDescription ? selectedCardDescription : ''">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <!-- HIDDEN FIELDS -->
                <!-- itemName,itemType,itemGroupCode,itemU_QACard,itemUoMGroupEntry,Card ID -->
                <div class="w-full mt-4 hidden">
                    <div class="px-6 flex space-x-10">
                        <div class="w-full">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'"
                                style="padding: 0.2rem !important;">
                                <mat-label>itemName</mat-label>
                                <input matInput type="text" class="text-sm" formControlName="itemName" readonly>
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'"
                                style="padding: 0.2rem !important;">
                                <mat-label>itemType</mat-label>
                                <input matInput type="text" class="text-sm" formControlName="itemType" readonly>
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'"
                                style="padding: 0.2rem !important;">
                                <mat-label>itemGroupCode</mat-label>
                                <input matInput type="text" class="text-sm" formControlName="itemGroupCode" readonly>
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'"
                                style="padding: 0.2rem !important;">
                                <mat-label>itemU_QACard</mat-label>
                                <input matInput type="text" class="text-sm" formControlName="itemU_QACard" readonly>
                            </mat-form-field>
                        </div>
                        <div class="w-full">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'"
                                style="padding: 0.2rem !important;">
                                <mat-label>itemUoMGroupEntry</mat-label>
                                <input matInput type="text" class="text-sm" formControlName="itemUoMGroupEntry"
                                    readonly>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="px-6 flex space-x-10">
                        <!-- CARD ID -->
                        <div class="w-full">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'"
                                style="padding: 0.2rem !important;">
                                <mat-label>Card ID</mat-label>
                                <input matInput type="text" class="text-sm" formControlName="inspectionCardId" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <!-- UPPER FIELDS SECTION ENDS -->

                <!-- ITEM CODE NG TEMPLATE DIALOG STARTS -->
                <ng-template #dialogTemplateItemCodeIIC>
                    <div class="dialog-container flex flex-col h-full">
                        <div class="flex justify-between items-center p-4 border-b text-primary">
                            <!-- List of All Items -->
                            <h2 class="text-lg font-semibold">List&nbsp;of&nbsp;All&nbsp;Items</h2>
                            <span (click)="dialog.closeAll()" class="header-close-x">
                                <mat-icon class="text-primary">close</mat-icon>
                            </span>
                        </div>
                        <!-- List of All Items Search -->
                        <mat-form-field>
                            <mat-label>Search</mat-label>
                            <input matInput (keyup)="applyFilterItemCodeIIC($event)" #input>
                        </mat-form-field>
                        <div class="table-container flex-grow overflow-auto">
                            <!-- ITEM CODE NG TABLE STARTS -->
                            <mat-table [dataSource]="dataSourceItemCodeIIC">
                                <!-- Item Code -->
                                <ng-container matColumnDef="itemCode">
                                    <mat-header-cell *matHeaderCellDef
                                        class="single-line">Item&nbsp;Code</mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="single-line text-sm">
                                        <mat-checkbox [checked]="row.isSelected" (change)="onRowChangeItemCodeIIC(row)"
                                            [matTooltip]="row.name">
                                        </mat-checkbox> {{ row.itemCode }}
                                    </mat-cell>
                                </ng-container>
                                <!-- Item Description -->
                                <ng-container matColumnDef="itemDescription">
                                    <mat-header-cell *matHeaderCellDef
                                        class="single-line">Item&nbsp;Description</mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="single-line text-sm">
                                        {{ row.name }}
                                    </mat-cell>
                                </ng-container>
                                <!-- Item Group -->
                                <ng-container matColumnDef="itemGroup">
                                    <mat-header-cell *matHeaderCellDef
                                        class="single-line">Item&nbsp;Group</mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="single-line text-sm">
                                        {{ row.uoMGroupEntry ?? '-' }}
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row
                                    *matHeaderRowDef="displayedColumnsItemCodeICC; sticky: true"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumnsItemCodeICC;"></mat-row>

                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matched with "{{input.value}}"</td>
                                </tr>
                            </mat-table>
                            <!-- ITEM CODE NG TABLE ENDS -->
                        </div>
                        <!-- Save & Close -->
                        <div class="save-close-container flex justify-end mt-auto py-2">
                            <button mat-flat-button color="primary"
                                (click)="addSelectedRowItemCodeIIC()">Save&nbsp;&amp;&nbsp;Close</button>
                        </div>
                    </div>
                </ng-template>
                <!-- ITEM CODE NG TEMPLATE DIALOG ENDS -->

                <!-- CARD CODE NG TEMPLATE DIALOG STARTS -->
                <ng-template #dialogTemplateCardCodeIIC let-data="data">
                    <div class="dialog-container flex flex-col h-full">
                        <div class="flex justify-between items-center p-4 border-b text-primary">
                            <!-- List of All Inspection Cards -->
                            <h2 class="text-lg font-semibold">List&nbsp;of&nbsp;all&nbsp;Inspection&nbsp;Cards</h2>
                            <span (click)="closeDialog()" class="header-close-x">
                                <mat-icon class="text-primary">close</mat-icon>
                            </span>
                        </div>
                        <!-- List of all Inspection Cards Search -->
                        <mat-form-field>
                            <mat-label>Search</mat-label>
                            <input matInput (keyup)="applyFilterCardCodeIIC($event)" #input>
                        </mat-form-field>
                        <div class="table-container flex-grow overflow-auto p-0 m-0">
                            <!-- CARD CODE NG TABLE STARTS -->
                            <mat-table [dataSource]="dataSourceCardCodeIIC">
                                <!-- Card Code & CHECKBOX COLUMN -->
                                <ng-container matColumnDef="cardCode">
                                    <mat-header-cell *matHeaderCellDef
                                        class="single-line">Card&nbsp;Code</mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="single-line text-sm"
                                        [ngClass]="{'cursor-no-drop': !row.isActive}">
                                        <mat-checkbox [checked]="row.isSelected" (change)="onRowChangeCardCodeIIC(row)"
                                            [disabled]="!row.isActive">
                                        </mat-checkbox>
                                        {{row.intCode}}
                                    </mat-cell>
                                </ng-container>
                                <!-- Description COLUMN -->
                                <ng-container matColumnDef="cardDescription">
                                    <mat-header-cell *matHeaderCellDef class="single-line">Description</mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="single-line text-sm">
                                        {{row.description}} </mat-cell>
                                </ng-container>
                                <!-- Status COLUMN -->
                                <ng-container matColumnDef="cardStatus">
                                    <mat-header-cell *matHeaderCellDef class="single-line">Status</mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="single-line text-sm" [ngClass]="{
                                      'text-green-500': row.isActive, 
                                      'text-amber-500': !row.isActive
                                    }">
                                        {{ row.isActive ? 'Active' : 'Inactive' }}
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumnsCards; sticky: true"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumnsCards;"></mat-row>

                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matched with "{{input.value}}"</td>
                                </tr>
                            </mat-table>
                            <!-- CARD CODE NG TABLE ENDS -->
                        </div>
                        <!-- Save & Close -->
                        <div class="save-close-container flex justify-end mt-auto py-2">
                            <button mat-flat-button color="primary" (click)="addSelectedRowCardCodeIIC()">
                                Save&nbsp;&amp;&nbsp;Close
                            </button>
                        </div>
                    </div>
                </ng-template>
                <!-- CARD CODE NG TEMPLATE DIALOG ENDS -->

                <!-- TABS SECTION STARTS -->
                <mat-tab-group class="sm:px-2" mat-stretch-tabs="true" [animationDuration]="1500">
                    <!-- Qualitative Inspection TAB STARTS -->
                    <mat-tab label="Qualitative Inspection">
                        <ng-template matTabContent>
                            <div class="pt-0 lg:ml-9 lg:mr-13">
                                <div class="w-full">
                                    <div class="w-full flex justify-between items-center m-0 p-0 px-0 py-0">
                                        <div class="ml-auto flex space-x-2 sm:space-x-4">
                                            <div class="icon-size-4">
                                                <mat-icon class="mat-icon-primary" style="cursor: pointer;"
                                                    svgIcon="feather:plus" (click)="onAddQualitativeClickIIC()"
                                                    matTooltip="Add Inspection" aria-label="Add Inspection">
                                                </mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Qualitative Inspection SECTION STARTS -->
                                    <section class="m-0 p-0 px-0 py-0 overflow-auto w-full">
                                        <!-- Qualitative Inspection TABLE STARTS -->
                                        <table mat-table [dataSource]="dataSourceQualitativeInspection" class="w-full">
                                            <!-- parameter COLUMN -->
                                            <ng-container matColumnDef="parameter">
                                                <th mat-header-cell *matHeaderCellDef class="text-sm whitespace-nowrap">
                                                    Parameters
                                                </th>
                                                <td mat-cell *matCellDef="let element; let i = index"
                                                    class="text-sm w-1/6  whitespace-nowrap"
                                                    [formGroup]="qualitativeInspectionObjects.controls[i]">
                                                    <input matInput formControlName="parameter" readonly>
                                                </td>
                                            </ng-container>
                                            <!-- passCriteria - Pass Criteria COLUMN -->
                                            <ng-container matColumnDef="passCriteria">
                                                <th mat-header-cell *matHeaderCellDef class="text-sm whitespace-nowrap">
                                                    Pass&nbsp;Criteria</th>
                                                <td mat-cell *matCellDef="let element; let i = index"
                                                    class="text-sm w-1/6 whitespace-nowrap"
                                                    [formGroup]="qualitativeInspectionObjects.controls[i]">
                                                    <input matInput formControlName="passCriteria" readonly>
                                                </td>
                                            </ng-container>
                                            <!-- mandatory - Mandatory COLUMN -->
                                            <ng-container matColumnDef="mandatory">
                                                <th mat-header-cell *matHeaderCellDef class="text-sm whitespace-nowrap">
                                                    Mandatory
                                                </th>
                                                <td mat-cell *matCellDef="let element; let i = index"
                                                    class="text-sm w-1/6"
                                                    [formGroup]="qualitativeInspectionObjects.controls[i]">
                                                    <mat-checkbox formControlName="mandatory"></mat-checkbox>
                                                </td>
                                            </ng-container>
                                            <!-- results - Results COLUMN -->
                                            <ng-container matColumnDef="results">
                                                <th mat-header-cell *matHeaderCellDef class="text-sm">
                                                    Results</th>
                                                <td mat-cell *matCellDef="let element; let i = index"
                                                    class="text-sm w-1/6">
                                                    <input matInput type="text" class="text-sm w-full" readonly
                                                        placeholder="Results">
                                                    <mat-icon matSuffix svgIcon="heroicons_outline:bars-3"
                                                        class="mat-icon-primary"
                                                        (click)="onResultsClickIIC(i, element)">
                                                    </mat-icon>
                                                </td>
                                            </ng-container>
                                            <!-- pass - Pass COLUMN -->
                                            <ng-container matColumnDef="pass">
                                                <th mat-header-cell *matHeaderCellDef class="text-sm">Pass</th>
                                                <!-- <td mat-cell *matCellDef="let element; let i = index"
                                                class="text-sm w-1/6 whitespace-nowrap"
                                                [formGroup]="qualitativeInspectionObjects.controls[i]">
                                                <input matInput formControlName="pass" readonly>
                                            </td> -->
                                                <td mat-cell *matCellDef="let element" class="text-sm text-start"
                                                    title="{{element.pass}}">
                                                    <input matInput [value]="element.pass | slice:0:25" readonly>
                                                </td>
                                            </ng-container>
                                            <!-- fail - Fail COLUMN -->
                                            <ng-container matColumnDef="fail">
                                                <th mat-header-cell *matHeaderCellDef class="text-sm">
                                                    Fail</th>
                                                <td mat-cell *matCellDef="let element">
                                                    <input matInput [value]="element.fail" readonly>
                                                </td>
                                                <!-- <td mat-cell *matCellDef="let element; let i = index"
                                                    class="text-sm w-1/6 whitespace-nowrap"
                                                    [formGroup]="qualitativeInspectionObjects.controls[i]">
                                                    <input matInput formControlName="fail" readonly>
                                                </td> -->
                                            </ng-container>
                                            <!-- Table Rows -->
                                            <tr mat-header-row *matHeaderRowDef="displayedColumnsQualitative"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumnsQualitative;">
                                            </tr>
                                        </table>
                                        <!-- Qualitative Inspection TABLE ENDS -->
                                    </section>
                                    <!-- Qualitative Inspection SECTION ENDS -->

                                    <!-- ADD Qualitative Inspection ROW -->
                                    <!-- ADD Qualitative Inspection NG TEMPLATE DIALOG STARTS -->
                                    <ng-template #dialogTemplateAddQualitativeIIC let-data="data">
                                        <div class="dialog-container flex flex-col h-full">
                                            <div class="flex justify-between items-center p-4 border-b text-primary">
                                                <!-- Qualitative Characteristics -->
                                                <h2 class="text-lg font-semibold">Qualitative&nbsp;Characteristics</h2>
                                                <span (click)="closeDialog()" class="header-close-x">
                                                    <mat-icon class="text-primary">close</mat-icon>
                                                </span>
                                            </div>
                                            <!-- Add Qualitative Characteristics Search -->
                                            <mat-form-field>
                                                <mat-label>Search</mat-label>
                                                <input matInput (keyup)="applyFilterAddQualitativeIIC($event)" #input>
                                            </mat-form-field>
                                            <!-- ADD Qualitative Inspection NG TABLE STARTS -->
                                            <div class="table-container flex-grow overflow-auto">
                                                <mat-table [dataSource]="dataSourceAddQualitativeIIC">
                                                    <!-- inspectionCode - Inspection Code & CHECKBOX COLUMN -->
                                                    <ng-container matColumnDef="inspectionCode">
                                                        <mat-header-cell *matHeaderCellDef
                                                            class="single-line">Inspection&nbsp;Code</mat-header-cell>
                                                        <mat-cell *matCellDef="let row" class="single-line text-sm">
                                                            <mat-checkbox [checked]="row.isSelected"
                                                                (change)="onRowChangeAddQualitativeIIC(row)">
                                                            </mat-checkbox> {{row.intCode}} </mat-cell>
                                                    </ng-container>
                                                    <!-- inspectionDescription - Inspection Description COLUMN -->
                                                    <ng-container matColumnDef="inspectionDescription">
                                                        <mat-header-cell *matHeaderCellDef
                                                            class="single-line">Inspection&nbsp;Description</mat-header-cell>
                                                        <mat-cell *matCellDef="let row" class="single-line text-sm">
                                                            {{row.description}} </mat-cell>
                                                    </ng-container>
                                                    <!-- inspectionCriteria - Inspection Criteria COLUMN -->
                                                    <ng-container matColumnDef="inspectionCriteria">
                                                        <mat-header-cell *matHeaderCellDef
                                                            class="single-line">Inspection&nbsp;Criteria</mat-header-cell>
                                                        <mat-cell *matCellDef="let row" class="single-line text-sm">
                                                            {{row.criteriaDescription}} </mat-cell>
                                                    </ng-container>

                                                    <mat-header-row
                                                        *matHeaderRowDef="displayedColumnsAddQualitativeIIC; sticky: true"></mat-header-row>
                                                    <mat-row
                                                        *matRowDef="let row; columns: displayedColumnsAddQualitativeIIC;"></mat-row>

                                                    <tr class="mat-row" *matNoDataRow>
                                                        <td class="mat-cell" colspan="4">No data matched with
                                                            "{{input.value}}"</td>
                                                    </tr>
                                                </mat-table>
                                            </div>
                                            <!-- ADD Qualitative Inspection NG TABLE ENDS -->
                                            <!-- Add & Close -->
                                            <div class="save-close-container flex justify-end mt-auto py-2">
                                                <button mat-flat-button color="primary"
                                                    (click)="addSelectedRowQualitativeIIC()">
                                                    Add
                                                </button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <!-- ADD Qualitative Inspection NG TEMPLATE DIALOG ENDS -->

                                    <!-- Results - Qualitative Inspection Results NG TEMPLATE DIALOG STARTS -->
                                    <ng-template #dialogTemplateResultsIIC let-data>
                                        <div class="dialog-container flex flex-col h-full">
                                            <div class="flex justify-between items-center p-4 border-b text-primary">
                                                <!-- Qualitative Results -->
                                                <h2 class="text-lg font-semibold">Qualitative&nbsp;Result</h2>
                                                <span (click)="closeDialog()" class="header-close-x">
                                                    <mat-icon class="text-primary">close</mat-icon>
                                                </span>
                                            </div>
                                            <!-- HIDDEN FIELDS -->
                                            <!-- PARAMETER ID -->
                                            <div class="hidden">
                                                <div class="w-full">
                                                    <mat-form-field class="w-full" [subscriptSizing]="'dynamic'"
                                                        style="padding: 0.2rem !important;">
                                                        <mat-label>Parameter / Characteristic ID</mat-label>
                                                        <input matInput type="text" class="text-sm" readonly
                                                            [value]="data.paramID">
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <!-- SEARCH, PARAMETER, PASS CRITERIA -->
                                            <div class="flex space-x-10 items-center">
                                                <!-- Qualitative Result Search -->
                                                <div class="w-1/3">
                                                    <mat-form-field class="w-full" [subscriptSizing]="'dynamic'"
                                                        style="padding: 0.2rem !important;">
                                                        <mat-label>Search</mat-label>
                                                        <input matInput (keyup)="applyFilterQRIIC($event)" #input>
                                                    </mat-form-field>
                                                </div>
                                                <!-- Inspection Parameter -->
                                                <div class="w-1/3 view-mode">
                                                    <mat-form-field class="w-full" [subscriptSizing]="'dynamic'"
                                                        style="padding: 0.2rem !important;">
                                                        <mat-label>Inspection&nbsp;Parameter</mat-label>
                                                        <input matInput type="text" class="text-sm"
                                                            [value]="data.clickedRowParameter">
                                                    </mat-form-field>
                                                </div>
                                                <!-- Inspection Pass Criteria -->
                                                <div class="w-1/3 view-mode">
                                                    <mat-form-field class="w-full" [subscriptSizing]="'dynamic'"
                                                        style="padding: 0.2rem !important;">
                                                        <mat-label>Inspection&nbsp;Pass&nbsp;Criteria</mat-label>
                                                        <input matInput type="text" class="text-sm" readonly
                                                            [value]="data.clickedRowPassCriteria">
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <!-- Qualitative Result NG TABLE STARTS -->
                                            <div class="table-container flex-grow overflow-auto specific-table">
                                                <mat-table [dataSource]="dataSourceQRIIC">
                                                    <!-- code - Code COLUMN -->
                                                    <ng-container matColumnDef="code">
                                                        <mat-header-cell *matHeaderCellDef
                                                            class="single-line">&nbsp;Code</mat-header-cell>
                                                        <mat-cell *matCellDef="let row"
                                                            class="single-line text-sm">{{row.intCode}}</mat-cell>
                                                    </ng-container>
                                                    <!-- description - DESCRIPTION COLUMN -->
                                                    <ng-container matColumnDef="description">
                                                        <mat-header-cell *matHeaderCellDef
                                                            class="single-line">&nbsp;Name</mat-header-cell>
                                                        <mat-cell *matCellDef="let row"
                                                            class="single-line text-sm">{{row.resultDescription}}</mat-cell>
                                                    </ng-container>
                                                    <!-- criteria - Criteria COLUMN -->
                                                    <ng-container matColumnDef="criteria">
                                                        <mat-header-cell *matHeaderCellDef
                                                            class="single-line">&nbsp;Criteria</mat-header-cell>
                                                        <mat-cell *matCellDef="let row" class="single-line text-sm">
                                                            <!-- <mat-form-field appearance="outline" class="w-1/3 py-1">
                                                                <mat-select [(value)]="row.criteria">
                                                                    <mat-option value="true">Pass</mat-option>
                                                                    <mat-option value="false">Fail</mat-option>
                                                                </mat-select>
                                                            </mat-form-field> -->
                                                            <mat-form-field appearance="outline" class="w-full">
                                                                <mat-select [(value)]="row.criteria" class="py-4">
                                                                    <mat-option value="true">Pass</mat-option>
                                                                    <mat-option value="false">Fail</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </mat-cell>
                                                    </ng-container>
                                                    <mat-header-row
                                                        *matHeaderRowDef="displayedColumnsResultsIIC; sticky: true"></mat-header-row>
                                                    <mat-row
                                                        *matRowDef="let row; columns: displayedColumnsResultsIIC;"></mat-row>

                                                    <tr class="mat-row" *matNoDataRow>
                                                        <td class="mat-cell" colspan="4">No data matched with
                                                            "{{input.value}}"</td>
                                                    </tr>
                                                </mat-table>
                                            </div>
                                            <!-- Qualitative Result NG TABLE ENDS -->
                                            <!-- Save & Close -->
                                            <div class="save-close-container flex justify-end mt-auto py-2">
                                                <button (click)="onSave(data.paramID, dataSourceQRIIC)" mat-flat-button
                                                    color="primary">
                                                    Save&nbsp;&&nbsp;Close
                                                </button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <!-- Results - Qualitative Inspection Results NG TEMPLATE DIALOG ENDS -->
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>
                    <!-- Qualitative Inspection TAB ENDS -->

                    <!-- Quantitative INSPECTION TAB STARTS -->
                    <mat-tab label="Quantitative Inspection">
                        <ng-template matTabContent>
                            <div class="pt-0 lg:ml-9 lg:mr-13">
                                <div class="w-full">
                                    <div class="w-full flex justify-between items-center m-0 p-0 px-0 py-0">
                                        <div class="ml-auto flex space-x-2 sm:space-x-4">
                                            <div class="icon-size-4">
                                                <mat-icon class="mat-icon-primary" style="cursor: pointer;"
                                                    svgIcon="feather:plus" (click)="onAddQuantitativeClickIIC()"
                                                    matTooltip="Add Inspection" aria-label="Add Inspection">
                                                </mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Quantitative Inspection SECTION STARTS -->
                                    <section class="m-0 p-0 px-0 py-0 overflow-auto w-full">
                                        <!-- Quantitative Inspection TABLE STARTS -->
                                        <table mat-table [dataSource]="dataSourceQuantitativeInspection" class="w-full">
                                            <!-- parameterQty - Parameters COLUMN -->
                                            <ng-container matColumnDef="parameterQty">
                                                <th mat-header-cell *matHeaderCellDef class="text-sm whitespace-nowrap">
                                                    Parameters
                                                </th>
                                                <td mat-cell *matCellDef="let element; let i = index"
                                                    class="text-sm w-1/6 whitespace-nowrap"
                                                    [formGroup]="quantitativeInspectionObjects.controls[i]">
                                                    <input matInput formControlName="parameterQty" readonly>
                                                </td>
                                            </ng-container>
                                            <!-- uoMId - UOM COLUMN -->
                                            <ng-container matColumnDef="uoMId">
                                                <th mat-header-cell *matHeaderCellDef class="text-sm">UOM</th>
                                                <td mat-cell *matCellDef="let element; let i = index"
                                                    class="text-sm w-1/6"
                                                    [formGroup]="quantitativeInspectionObjects.controls[i]">
                                                    <!-- <input matInput type="text" class="text-sm w-full" readonly
                                                        formControlName="uoMId" [value]="uoMId ? selectedUoMCode : ''"> -->
                                                    <input matInput type="text" class="text-sm w-full" readonly
                                                        formControlName="uoMId"
                                                        [value]="quantitativeInspectionObjects.controls[i].get('uoMId')?.value ? selectedUoMCode : ''">
                                                    <mat-icon matSuffix svgIcon="heroicons_outline:bars-3"
                                                        class="mat-icon-primary" (click)="onUoMQtyClickIIC(i)">
                                                    </mat-icon>
                                                </td>
                                            </ng-container>
                                            <!-- mandatoryQty - Mandatory COLUMN -->
                                            <ng-container matColumnDef="mandatoryQty">
                                                <th mat-header-cell *matHeaderCellDef class="text-sm whitespace-nowrap">
                                                    Mandatory
                                                </th>
                                                <td mat-cell *matCellDef="let element; let i = index"
                                                    class="text-sm w-1/6"
                                                    [formGroup]="quantitativeInspectionObjects.controls[i]">
                                                    <mat-checkbox formControlName="mandatoryQty"></mat-checkbox>
                                                </td>
                                            </ng-container>
                                            <!-- passCriteriaTarget - Target COLUMN -->
                                            <ng-container matColumnDef="passCriteriaTarget">
                                                <th mat-header-cell *matHeaderCellDef class="text-sm whitespace-nowrap">
                                                    Target
                                                </th>
                                                <td mat-cell *matCellDef="let element; let i = index"
                                                    class="text-sm w-1/6 whitespace-nowrap"
                                                    [formGroup]="quantitativeInspectionObjects.controls[i]">
                                                    <input matInput formControlName="passCriteriaTarget"
                                                        placeholder="Enter Target value">
                                                </td>
                                            </ng-container>
                                            <!-- passCriteriaMax - Max COLUMN -->
                                            <ng-container matColumnDef="passCriteriaMax">
                                                <th mat-header-cell *matHeaderCellDef class="text-sm whitespace-nowrap">
                                                    Max
                                                </th>
                                                <td mat-cell *matCellDef="let element; let i = index"
                                                    class="text-sm w-1/6 whitespace-nowrap"
                                                    [formGroup]="quantitativeInspectionObjects.controls[i]">
                                                    <input matInput formControlName="passCriteriaMax"
                                                        placeholder="Enter Max value">
                                                </td>
                                            </ng-container>
                                            <!-- passCriteriaMin - Min COLUMN -->
                                            <ng-container matColumnDef="passCriteriaMin">
                                                <th mat-header-cell *matHeaderCellDef class="text-sm whitespace-nowrap">
                                                    Min
                                                </th>
                                                <td mat-cell *matCellDef="let element; let i = index"
                                                    class="text-sm w-1/6 whitespace-nowrap"
                                                    [formGroup]="quantitativeInspectionObjects.controls[i]">
                                                    <input matInput formControlName="passCriteriaMin"
                                                        placeholder="Enter Min value">
                                                </td>
                                            </ng-container>

                                            <!-- Table Rows -->
                                            <tr mat-header-row *matHeaderRowDef="displayedColumnsQuantitative"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumnsQuantitative;">
                                            </tr>
                                        </table>
                                        <!-- Quantitative Inspection TABLE ENDS -->
                                    </section>
                                    <!-- Quantitative Inspection SECTION ENDS -->

                                    <!-- UOM NG TEMPLATE DIALOG STARTS -->
                                    <ng-template #dialogTemplateUoMIIC let-data="data">
                                        <div class="dialog-container flex flex-col h-full">
                                            <div class="flex justify-between items-center p-4 border-b text-primary">
                                                <!-- Unit Of Measure -->
                                                <h2 class="text-lg font-semibold">Unit&nbsp;Of&nbsp;Measure</h2>
                                                <span (click)="closeDialog()" class="header-close-x">
                                                    <mat-icon class="text-primary">close</mat-icon>
                                                </span>
                                            </div>
                                            <!-- Unit Of Measure Search -->
                                            <mat-form-field>
                                                <mat-label>Search</mat-label>
                                                <input matInput (keyup)="applyFilterUoMIIC($event)" #input>
                                            </mat-form-field>
                                            <!-- UoM TABLE STARTS -->
                                            <div class="table-container flex-grow overflow-auto">
                                                <mat-table [dataSource]="dataSourceUoMIIC" class="flex-grow">
                                                    <!-- code - UOM Code & CHECKBOX COLUMN -->
                                                    <ng-container matColumnDef="code">
                                                        <mat-header-cell *matHeaderCellDef
                                                            class="single-line">UOM&nbsp;Code</mat-header-cell>
                                                        <mat-cell *matCellDef="let row" class="single-line text-sm">
                                                            <mat-checkbox [checked]="row.isSelected"
                                                                (change)="onRowChangeUoMIIC(row)">
                                                            </mat-checkbox> {{row.uoMCode}} </mat-cell>
                                                    </ng-container>
                                                    <!-- description - UOM Name COLUMN -->
                                                    <ng-container matColumnDef="description">
                                                        <mat-header-cell *matHeaderCellDef
                                                            class="single-line">UOM&nbsp;Name</mat-header-cell>
                                                        <mat-cell *matCellDef="let row" class="single-line text-sm">
                                                            {{row.description}} </mat-cell>
                                                    </ng-container>
                                                    <mat-header-row
                                                        *matHeaderRowDef="displayedColumnsUoMIIC; sticky: true"></mat-header-row>
                                                    <mat-row
                                                        *matRowDef="let row; columns: displayedColumnsUoMIIC;"></mat-row>

                                                    <tr class="mat-row" *matNoDataRow>
                                                        <td class="mat-cell" colspan="4">No data matched with
                                                            "{{input.value}}"</td>
                                                    </tr>
                                                </mat-table>
                                            </div>
                                            <!-- UoM TABLE ENDS -->
                                            <!-- Save & Close -->
                                            <div class="save-close-container flex justify-end mt-auto py-2">
                                                <button mat-flat-button color="primary"
                                                    (click)="addSelectedRowUoMIIC(selectedRowIndexUoM)">
                                                    Save&nbsp;&&nbsp;Close
                                                </button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <!-- UOM NG TEMPLATE DIALOG ENDS -->

                                    <!-- ADD Quantitative Inspection ROW -->
                                    <!-- ADD Quantitative Inspection NG TEMPLATE DIALOG STARTS -->
                                    <ng-template #dialogTemplateAddQuantitativeIIC let-data="data">
                                        <div class="dialog-container flex flex-col h-full">
                                            <div class="flex justify-between items-center p-4 border-b text-primary">
                                                <!-- Quantitative Characteristics -->
                                                <h2 class="text-lg font-semibold">
                                                    Quantitative&nbsp;Characteristics
                                                </h2>
                                                <span (click)="closeDialog()" class="header-close-x">
                                                    <mat-icon class="text-primary">close</mat-icon>
                                                </span>
                                            </div>
                                            <!-- Add Quantitative Characteristics Search -->
                                            <mat-form-field>
                                                <mat-label>Search</mat-label>
                                                <input matInput (keyup)="applyFilterAddQuantitativeIIC($event)" #input>
                                            </mat-form-field>
                                            <!-- ADD Quantitative Inspection NG TABLE STARTS -->
                                            <div class="table-container flex-grow overflow-auto">
                                                <mat-table [dataSource]="dataSourceAddQuantitativeIIC"
                                                    class="flex-grow">
                                                    <!-- inspectionCode - INSPECTION CODE & CHECKBOX COLUMN -->
                                                    <ng-container matColumnDef="inspectionCode">
                                                        <mat-header-cell *matHeaderCellDef
                                                            class="single-line">Inspection&nbsp;Code</mat-header-cell>
                                                        <mat-cell *matCellDef="let row" class="single-line text-sm">
                                                            <mat-checkbox [checked]="row.isSelected"
                                                                (change)="onRowChangeAddQuantitativeIIC(row)">
                                                            </mat-checkbox> {{row.intCode}} </mat-cell>
                                                    </ng-container>
                                                    <!-- inspectionDescription - INSPECTION DESCRIPTION COLUMN -->
                                                    <ng-container matColumnDef="inspectionDescription">
                                                        <mat-header-cell *matHeaderCellDef
                                                            class="single-line">Inspection&nbsp;Description</mat-header-cell>
                                                        <mat-cell *matCellDef="let row" class="single-line text-sm">
                                                            {{row.description}} </mat-cell>
                                                    </ng-container>

                                                    <mat-header-row
                                                        *matHeaderRowDef="displayedColumnsAddQuantitativeIIC; sticky: true"></mat-header-row>
                                                    <mat-row
                                                        *matRowDef="let row; columns: displayedColumnsAddQuantitativeIIC;"></mat-row>

                                                    <tr class="mat-row" *matNoDataRow>
                                                        <td class="mat-cell" colspan="4">No data matched with
                                                            "{{input.value}}"</td>
                                                    </tr>
                                                </mat-table>
                                            </div>
                                            <!-- ADD Quantitative Inspection NG TABLE ENDS -->
                                            <!-- Add & Close -->
                                            <div class="save-close-container flex justify-end mt-auto py-2">
                                                <button mat-flat-button color="primary"
                                                    (click)="addSelectedRowQuantitativeIIC()">
                                                    Add
                                                </button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <!-- ADD Quantitative Inspection NG TEMPLATE DIALOG ENDS -->
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>
                    <!-- Quantitative INSPECTION TAB ENDS -->
                </mat-tab-group>
                <!-- SUBMIT BUTTON -->
                <div class="mb-4 flex justify-end md:ml-9 ">
                    <button mat-raised-button color="primary" type="submit" class="md:mr-13">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>