.mat-icon-primary {
    color: #4f46e5 !important;
}


.pass-fail-column {
    max-width: 250px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}