.custom-input-quality {
  width: 25%;
  /* Ensures the input field takes full width */
}

.custom-input input {
  height: 50px;
  /* Adjust the height */
  font-size: 18px;
  /* Increase font size */
  padding: 10px;
  /* Add padding for better spacing */
}

.custom-input mat-label {
  font-size: 16px;
  /* Increase the label font size if needed */
}

.custom-heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

//Removing Numbers from the stepper
.mat-step-header .mat-step-icon {
  display: none;
}


.custom-stepper .mat-step-header {
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
  height: 40px;
}

.custom-stepper .mat-step-header[aria-selected="true"] {
  border-bottom: 2px solid #5046E5;
  /* Blue underline on selected step */
  color: wheat;
  /* Blue text on selected step */
}

.mat-horizontal-stepper-header-container {
  margin-bottom: 10px;
}

.mat-mdc-tab-group .mat-mdc-tab-body-content {
  padding: 0px;
}


/* Additional styles for buttons */
.step-navigation {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 16px;

  button {
    &.back-button {
      border: 1px solid #5046E5;
      color: #5046E5;
      width: 140px;

    }

    &.next-button {
      background-color: #5046E5;
      color: white;
      width: 140px;

  transition: none !important;
  animation: none !important;

    }

    .next-button:hover {
      background-color: #3e38b8;
    }
  }
}

// .mat-horizontal-content-container {
//   height: 100%;
//   min-height: 450px;
// }

// .bottom-right-buttons {
//   position: relative;
//   bottom: -230px;
//   right: 0;
//   display: flex;
//   gap: 1rem;
//   padding: 0.5rem;
//   z-index: 1000;
// }

// .bottom-right-buttons-step {
//   position: relative;
//   bottom: -110px;
//   right: 0;
//   display: flex;
//   gap: 1rem;
//   padding: 0.5rem;
//   z-index: 1000;
// }

// .bottom-right-buttons-step-sample {
//   position: relative;
//   bottom: -35px;
//   right: 0;
//   display: flex;
//   gap: 1rem;
//   padding: 0.5rem;
//   z-index: 1000;
// }

// .bottom-right-buttons-step-characterstics {
//   position: relative;
//   bottom: -30px;
//   right: 0;
//   display: flex;
//   gap: 1rem;
//   padding: 0.5rem;
//   z-index: 1000;
// }

// .bottom-right-buttons-step-card {
//   position: relative;
//   bottom: -30px;
//   right: 0;
//   display: flex;
//   gap: 1rem;
//   padding: 0.5rem;
//   z-index: 1000;
// }

.pass-fail-column {
  max-width: 250px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.mat-mdc-table mat-header-row.mat-mdc-header-row,
.mat-mdc-table mat-row.mat-mdc-row,
.mat-mdc-table mat-footer-row.mat-mdc-footer-cell {
  height: 48px !important;
}

.snackbar-error {
  background-color: #b53232;
  color: #fff;
}

.snackbar-success {
  background-color: #2e7d32;
  color: #fff;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  // width: 100vw; 
  // min-height: 40px;
}
.iic-py-2 {
  padding-top: 0.2rem !important; // padding-top: 0.5rem !important;
  padding-bottom: 0rem !important;
}

// .mat-icon-primary {
//   color: #5046E5 !important;
// }

// @IAK
// CHANGED FROM rgba(220,38,38, 1) TO #a1a1a1 WHEN THE FIELD IS INVALID
.mat-mdc-form-field.mat-form-field-appearance-fill.mat-form-field-invalid .mat-mdc-text-field-wrapper {
  --tw-border-opacity: 1 !important;
  // border-color: rgba(220,38,38, 1 !important) !important;
  border-color: #a1a1a1 !important;
}

// @IAK
// onSubmitInspectionCard
.invalid-disabled-button {
  background-color: #ccc !important;
  color: #666 !important;
  cursor: not-allowed;
}

.cursor-not-allowed {
  cursor: not-allowed;
}
